<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.OrderDetailMapper">
    <resultMap id="orderDetailMap" type="com.canteen.entity.OrderDetail">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="dishId" column="dish_id"/>
        <result property="setmealId" column="setmeal_id"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO order_detail (order_id, dish_id, setmeal_id, quantity, price, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.dishId}, #{item.setmealId}, #{item.quantity}, #{item.price}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

    <select id="selectByOrderId" resultMap="orderDetailMap">
        SELECT * FROM order_detail WHERE order_id = #{orderId}
    </select>

    <delete id="deleteByOrderId">
        DELETE FROM order_detail WHERE order_id = #{orderId}
    </delete>
</mapper> 