<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.UserMapper">
    
    <resultMap id="BaseResultMap" type="com.canteen.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="user_type" property="userType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, phone, user_type, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.canteen.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, phone, user_type, create_time, update_time)
        VALUES (#{username}, #{password}, #{phone}, #{userType}, NOW(), NOW())
    </insert>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.canteen.entity.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="userType != null">user_type = #{userType},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
    </select>
</mapper> 